clf_baseline/ filter=lfs diff=lfs merge=lfs -text
clf_baseline/DT_mfcc+contrast+chroma+centroid+tonnetz.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/linSVC1_mfcc+contrast.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/linSVC2_chroma_cens.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/MLP1_chroma_cens.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/SVCpoly1_mfcc+contrast.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/kNN_spectral_rolloff.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/DT_rmse.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/SVCpoly1_all_non-echonest.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/AdaBoost_spectral_contrast.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/DT_mfcc+contrast+chroma.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/LR_mfcc+contrast+centroid.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/LR_spectral_bandwidth.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/MLP1_mfcc+contrast+chroma+centroid.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/MLP2_mfcc+contrast+chroma.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/QDA_chroma_stft.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/SVCrbf_mfcc+contrast+chroma+centroid.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/linSVC1_zcr.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/linSVC2_mfcc+contrast+chroma+centroid+zcr.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/MLP1_mfcc+contrast+centroid.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/MLP2_spectral_centroid.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/SVCrbf_spectral_bandwidth.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/DT_tonnetz.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/linSVC2_mfcc.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/MLP1_spectral_rolloff.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/DT_spectral_bandwidth.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/kNN_all_non-echonest.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/linSVC1_chroma_cqt.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/QDA_spectral_centroid.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/SVCrbf_mfcc+contrast+chroma.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/kNN_zcr.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/QDA_mfcc+contrast+chroma+centroid+zcr.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/AdaBoost_mfcc+contrast+chroma+centroid.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/DT_mfcc.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/kNN_spectral_contrast.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/linSVC2_rmse.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/AdaBoost_zcr.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/kNN_tonnetz.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/AdaBoost_mfcc.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/DT_spectral_centroid.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/MLP1_chroma_stft.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/MLP1_spectral_bandwidth.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/RF_chroma_cens.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/SVCrbf_all_non-echonest.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/AdaBoost_chroma_stft.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/linSVC2_spectral_contrast.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/MLP2_chroma_stft.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/NB_mfcc+contrast+chroma+centroid+tonnetz.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/AdaBoost_mfcc+contrast+chroma.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/MLP1_spectral_contrast.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/MLP2_mfcc+contrast.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/MLP2_tonnetz.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/NB_mfcc+contrast+centroid.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/QDA_chroma_cqt.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/kNN_mfcc+contrast+chroma+centroid+tonnetz.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/kNN_mfcc+contrast+chroma+centroid+zcr.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/linSVC1_mfcc+contrast+chroma+centroid+zcr.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/MLP2_zcr.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/RF_mfcc+contrast+chroma+centroid+tonnetz.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/RF_spectral_rolloff.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/SVCpoly1_mfcc+contrast+chroma+centroid.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/MLP1_all_non-echonest.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/kNN_mfcc+contrast+chroma+centroid.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/linSVC1_all_non-echonest.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/linSVC1_mfcc+contrast+chroma+centroid+tonnetz.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/NB_spectral_bandwidth.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/DT_chroma_stft.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/linSVC2_spectral_bandwidth.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/LR_mfcc+contrast+chroma+centroid.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/MLP2_spectral_rolloff.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/RF_mfcc+contrast+centroid.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/AdaBoost_all_non-echonest.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/kNN_mfcc+contrast.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/RF_spectral_centroid.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/SVCrbf_zcr.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/AdaBoost_mfcc+contrast.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/kNN_mfcc+contrast+centroid.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/MLP1_mfcc.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/RF_tonnetz.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/linSVC2_mfcc+contrast+chroma+centroid.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/linSVC2_spectral_rolloff.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/NB_zcr.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/SVCrbf_mfcc.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/AdaBoost_tonnetz.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/DT_chroma_cqt.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/linSVC2_chroma_cqt.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/LR_zcr.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/RF_rmse.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/SVCrbf_spectral_centroid.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/linSVC1_mfcc+contrast+chroma+centroid.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/QDA_spectral_rolloff.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/SVCpoly1_mfcc.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/SVCrbf_mfcc+contrast.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/SVCrbf_chroma_cqt.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/LR_spectral_centroid.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/LR_chroma_stft.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/MLP1_mfcc+contrast+chroma.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/NB_spectral_contrast.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/SVCpoly1_rmse.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/DT_all_non-echonest.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/DT_spectral_rolloff.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/MLP2_mfcc+contrast+chroma+centroid.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/SVCpoly1_chroma_stft.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/SVCpoly1_mfcc+contrast+chroma+centroid+zcr.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/SVCpoly1_spectral_centroid.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/AdaBoost_chroma_cens.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/MLP1_mfcc+contrast+chroma+centroid+tonnetz.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/MLP2_mfcc+contrast+chroma+centroid+zcr.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/NB_all_non-echonest.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/QDA_mfcc.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/AdaBoost_chroma_cqt.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/MLP1_rmse.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/DT_zcr.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/MLP2_spectral_contrast.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/SVCpoly1_tonnetz.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/DT_chroma_cens.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/linSVC1_spectral_contrast.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/SVCpoly1_zcr.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/DT_spectral_contrast.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/NB_mfcc+contrast+chroma+centroid+zcr.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/RF_spectral_bandwidth.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/SVCrbf_mfcc+contrast+chroma+centroid+tonnetz.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/SVCrbf_spectral_rolloff.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/LR_all_non-echonest.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/QDA_rmse.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/RF_mfcc+contrast+chroma+centroid+zcr.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/DT_mfcc+contrast+chroma+centroid+zcr.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/linSVC2_mfcc+contrast.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/RF_mfcc+contrast+chroma.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/SVCrbf_mfcc+contrast+chroma+centroid+zcr.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/AdaBoost_spectral_centroid.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/linSVC1_chroma_stft.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/MLP1_zcr.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/MLP2_chroma_cens.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/QDA_mfcc+contrast+chroma.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/SVCpoly1_spectral_bandwidth.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/SVCrbf_chroma_stft.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/kNN_chroma_cqt.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/linSVC2_spectral_centroid.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/LR_mfcc+contrast+chroma.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/SVCpoly1_chroma_cqt.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/AdaBoost_mfcc+contrast+chroma+centroid+zcr.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/RF_mfcc.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/MLP1_chroma_cqt.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/NB_rmse.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/LR_chroma_cens.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/LR_mfcc+contrast.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/MLP1_mfcc+contrast.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/QDA_tonnetz.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/RF_mfcc+contrast.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/SVCpoly1_spectral_rolloff.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/AdaBoost_mfcc+contrast+chroma+centroid+tonnetz.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/DT_mfcc+contrast+centroid.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/linSVC1_mfcc+contrast+chroma.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/LR_tonnetz.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/linSVC1_mfcc+contrast+centroid.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/LR_chroma_cqt.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/QDA_mfcc+contrast.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/linSVC2_chroma_stft.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/linSVC2_mfcc+contrast+centroid.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/linSVC2_mfcc+contrast+chroma.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/LR_mfcc+contrast+chroma+centroid+tonnetz.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/MLP2_all_non-echonest.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/NB_tonnetz.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/QDA_mfcc+contrast+centroid.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/DT_mfcc+contrast.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/LR_mfcc.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/NB_mfcc+contrast+chroma+centroid.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/SVCpoly1_spectral_contrast.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/SVCrbf_chroma_cens.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/MLP2_spectral_bandwidth.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/QDA_spectral_contrast.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/SVCpoly1_mfcc+contrast+chroma+centroid+tonnetz.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/kNN_chroma_cens.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/linSVC1_spectral_rolloff.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/kNN_spectral_centroid.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/MLP2_mfcc+contrast+centroid.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/MLP2_mfcc+contrast+chroma+centroid+tonnetz.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/AdaBoost_mfcc+contrast+centroid.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/linSVC2_zcr.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/NB_chroma_cens.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/NB_spectral_centroid.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/QDA_zcr.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/RF_all_non-echonest.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/LR_spectral_contrast.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/NB_spectral_rolloff.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/QDA_mfcc+contrast+chroma+centroid+tonnetz.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/NB_mfcc+contrast.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/QDA_all_non-echonest.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/QDA_spectral_bandwidth.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/RF_zcr.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/MLP2_rmse.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/DT_mfcc+contrast+chroma+centroid.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/kNN_chroma_stft.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/linSVC1_tonnetz.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/LR_mfcc+contrast+chroma+centroid+zcr.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/LR_rmse.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/LR_spectral_rolloff.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/MLP1_spectral_centroid.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/SVCrbf_rmse.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/kNN_mfcc.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/NB_mfcc+contrast+chroma.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/RF_chroma_stft.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/AdaBoost_rmse.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/AdaBoost_spectral_rolloff.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/RF_mfcc+contrast+chroma+centroid.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/SVCpoly1_mfcc+contrast+chroma.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/SVCrbf_mfcc+contrast+centroid.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/linSVC1_chroma_cens.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/RF_spectral_contrast.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/SVCpoly1_chroma_cens.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/kNN_rmse.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/kNN_spectral_bandwidth.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/linSVC2_all_non-echonest.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/linSVC2_mfcc+contrast+chroma+centroid+tonnetz.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/RF_chroma_cqt.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/MLP1_mfcc+contrast+chroma+centroid+zcr.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/MLP2_chroma_cqt.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/linSVC1_spectral_bandwidth.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/NB_chroma_cqt.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/kNN_mfcc+contrast+chroma.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/linSVC1_spectral_centroid.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/NB_chroma_stft.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/NB_mfcc.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/SVCrbf_tonnetz.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/AdaBoost_spectral_bandwidth.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/linSVC1_rmse.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/SVCrbf_spectral_contrast.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/MLP1_tonnetz.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/linSVC1_mfcc.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/linSVC2_tonnetz.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/MLP2_mfcc.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/QDA_chroma_cens.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/QDA_mfcc+contrast+chroma+centroid.pkl filter=lfs diff=lfs merge=lfs -text
clf_baseline/SVCpoly1_mfcc+contrast+centroid.pkl filter=lfs diff=lfs merge=lfs -text
